*{
	margin: 0;	
	padding: 0;
}
@media only screen and (min-width: 300px){

header{
	background-color: rgb(0, 61, 92);
	width: 100%;
	width: 100%;}
nav{
	display: flex;
	height: 120px;
	justify-content: space-between;
margin-right: 80px;
}
.content{
	display: inline-flex;
		overflow: hidden;
	
}
.tt{
	text-decoration: none;
			color: whitesmoke;
			margin-top: 3rem;
	padding-left: 300px;

}
.dt{
		text-decoration: none;
			color: whitesmoke;
			margin-top: 3rem;
			padding-left: -200px;
padding: 20px;	margin-right: 25rem;
}

}

